/stages.txt
/mhhh.pem
/old versions/
/.idea/
/docker-compose.yml
ga.php
/DB/config.sh
/DB/*.sql.gz
/DB/*.txt.zip
/DB/last_updated.txt
config.php
check-ban.php
tracker.json
banned.json
rejections.json
countdown-settings.php
versions.txt
/vendor
