# HTID:957825: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:957825:

Header Set Access-Control-Allow-Origin "https://www.mousehuntgame.com"