<?php
// Rename to configs.php

require "config.php";

$http_origin = $_SERVER['HTTP_ORIGIN'];

header("Access-Control-Allow-Origin: $http_origin");

// PDO
$pdo = new PDO("mysql:host=$servername;dbname=$dbname;charset=utf8", $username, $password);
$pdo->setAttribute( PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION );
