<?php

$servername = "";
$username = "";
$password = "";
$dbname = "";

$htapi = "";

$mms_servername = "";
$mms_username = "";
$mms_password = "";
$mms_dbname = "";

$mhmh_dbname = "";

$fb_app_id = "";
$fb_app_secret = "";

$discord_webhook_url = "";
