body {
    background-color: #fff;
}

.ui-autocomplete-loading {
    background:url('/images/spin.gif') no-repeat right center;
}

.loader {
    border: 16px solid #ddd;
    border-radius: 50%;
    border-top: 16px solid gray;
    border-bottom: 16px solid gray;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: none;
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.jumbotron {
    background: url("/images/croppedcat-min.jpg") center no-repeat;
    text-shadow: 0 0 1em black;
    color: white;
    position: relative;
}

.jumbotron a, .jumbotron a:hover {
    display: block;
    position: absolute;
    bottom: 0;
    left: 1em;
    color: white;
    text-decoration: none;
}

.fakebutton {
    cursor: pointer;
}
